<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>アカウント削除完了</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
	<nav class="navbar bg-info mb-5">
		<div class="container-fluid">
			<a class="navbar-brand text-light" href="">
				<i class="bi bi-book d-inline-block align-text-top" alt="Logo"></i>
				My Library
			</a>
		</div>
	</nav>
	<div class="container">
		<div class="d-flex justify-content-center">
			<div class="border border-3 border-secondary-subtle rounded p-5" style="background-color: whitesmoke;">
				<p class="fs-5 fw-bold">My Libraryアカウントの削除が完了しました。</p>
				<p class="text-secondary">
					<div>My Libraryをご利用いただきありがとうございました。</div>
					<div>またのご利用を心よりお待ちしております。</div>
				</p>
				<a href="/register-user">ユーザー登録画面へ</a>
			</div>
		</div>
	</div>
</body>
</html>