<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>詳細画面</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
	<div th:replace="~{share::header}"></div>
	<div class="container" th:object="${finishedEditBookInput}">
		<div class="accordion" id="accordionPanelsStayOpen">
		  <div class="px-3 py-2 accordion-item bg-primary-subtle text-secondary">タイトル</div>
		  <div class="p-3 accordion-item" th:text="*{title}"></div>
		  <div class="px-3 py-2 accordion-item bg-primary-subtle text-secondary">著者</div>
		  <div class="p-3 accordion-item" th:text="*{author}"></div>
		  <div class="px-3 py-2 accordion-item bg-primary-subtle text-secondary">ジャンル</div>
		  <div class="p-3 accordion-item" th:text="*{genre}"></div>
		  <div class="px-3 py-2 accordion-item bg-primary-subtle text-secondary">期間</div>
		  <div class="p-3 accordion-item">
			  <span th:text="*{#temporals.format(startDate, 'yyyy/MM/dd')}"></span><span> 〜 </span><span th:text="*{#temporals.format(endDate, 'yyyy/MM/dd')}">
		  </div>
		  <div class="accordion-item">
		    <div class="accordion-header">
		      <button class="px-3 py-2 accordion-button bg-primary-subtle text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseComment" aria-expanded="true" aria-controls="panelsStayOpen-collapseComment">メモ</button>
		    </div>
		    <div id="panelsStayOpen-collapseComment" class="accordion-collapse collapse show">
		      <div class="accordion-body p-3" th:text="*{comment}"></div>
		    </div>
		  </div>
		</div>
		<div class="mt-4">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">編集</button>
			<!-- editModal -->
			<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="editModalLabel">本を編集する</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form id="edit-form" class="needs-validation" th:action="@{/user/update/execute-edit-finishedbook}" method="post" enctype="multipart/form-data">
								<input type="hidden" th:field="*{bookId}">
								<div class="mb-4">
									<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">Title Error</div>
									<label for="book-title" class="form-label">タイトル</label>
									<span class="text-danger">必須</span>
									<input type="text" id="book-title" class="form-control" th:field="*{title}" required>
								</div>
								<div class="mb-4">
									<select class="form-select" aria-label="Book genre select" th:field="*{genre}">
										<option selected value="">本のジャンルを選んでください</option>
										<option value="小説">小説</option>
										<option value="ミステリー/サスペンス">ミステリー/サスペンス</option>
										<option value="SF/ファンタジー">SF/ファンタジー</option>
										<option value="ロマンス">ロマンス</option>
										<option value="歴史/自伝">歴史/自伝</option>
										<option value="自己啓発">自己啓発</option>
										<option value="お金">お金</option>
										<option value="学習">学習</option>
										<option value="コミック">コミック</option>
										<option value="その他">その他</option>
									</select>
								</div>
								<div class="mb-4">
									<label for="author" class="form-label">著者</label>
									<input type="text" id="author" class="form-control" th:field="*{author}">
								</div>
								<div class="row mb-4">
									<div class="col">
										<div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-danger">Date Error</div>
										<label for="start-date" class="form-label">開始日</label>
										<span class="text-danger">必須</span>
										<input type="date" id="start-date" class="form-control" th:field="*{startDate}" required>
									</div>
									<div class="col">
										<div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="text-danger">Date Error</div>
										<label for="end-date" class="form-label">終了日</label>
										<span class="text-danger">必須</span>
										<input type="date" id="end-date" class="form-control" th:field="*{endDate}" required>
									</div>
								</div>
								<div class="mb-4">
									<div th:if="${#fields.hasErrors('imgFile')}" th:errors="*{imgFile}" class="text-danger">FileSize Error</div>
									<label for="book-image" class="form-label">画像を変更する</label>
									<div class="d-inline-block form-check">
										<input class="form-check-input" type="checkbox" value="default" id="default-check" th:field="*{checkBoxValue}">
										<label class="form-check-label" for="default-check">デフォルト画像にする</label>
									</div>
									<input type="file" id="book-image" class="form-control" accept="image/*" th:field="*{imgFile}">
									<div id="fileHelp" class="form-text">サイズは1MBまでです、画像を登録すると読み込みが遅くなります</div>
								</div>
								<div class="input-group mb-4">
									<span class="input-group-text">メモ</span>
									<textarea class="form-control" aria-label="comment" placeholder="ご自由にお書きください" th:field="*{comment}"></textarea>
								</div>
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" id="bookSwitch" name="isFinished" value="yes" checked>
									<label class="form-check-label" for="bookSwitch">読了</label>
								</div>
							</form>
						</div>
						<div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
					        <button type="submit" form="edit-form" class="btn btn-primary">更新</button>
	      				</div>
					</div>
				</div>
			</div>
			<!-- editModal終わり -->
			<a class="btn btn-secondary ms-3" href="/user/finished-booklist" role="button">一覧に戻る</a>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>