<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>編集画面</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
	<div th:replace="~{share::header}"></div>
	<div class="container">
<!--		<h2 class="fw-medium mt-5">本の情報を更新する</h2>-->
		<div class="border border-4 border-secondary-subtle rounded p-3 mb-4"><form class="needs-validation" th:action="@{/user/update/execute-edit-finishedbook}" method="post" enctype="multipart/form-data" th:object="${finishedEditBookInput}">
			<input type="hidden" th:field="*{bookId}">
			<div class="mb-4">
				<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">Title Error</p>
				<label for="bookTitle" class="form-label">タイトル</label>
				<p class="d-inline-block text-danger">必須</p>
				<input type="text" id="bookTitle" class="form-control" th:field="*{title}" required>
			</div>
			<div class="mb-4">
				<select class="form-select" aria-label="Book genre select" th:field="*{genre}">
					<option selected value="">本のジャンルを選んでください</option>
					<option value="小説">小説</option>
					<option value="ミステリー/サスペンス">ミステリー/サスペンス</option>
					<option value="SF/ファンタジー">SF/ファンタジー</option>
					<option value="ロマンス">ロマンス</option>
					<option value="歴史/自伝">歴史/自伝</option>
					<option value="自己啓発">自己啓発</option>
					<option value="お金">お金</option>
					<option value="学習">学習</option>
					<option value="コミック">コミック</option>
					<option value="その他">その他</option>
				</select>
			</div>
			<div class="mb-4">
				<label for="author" class="form-label">著者</label>
				<input type="text" id="author" class="form-control" th:field="*{author}">
			</div>
			<div class="row mb-4">
				<div class="col">
					<p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-danger">Date Error</p>
					<label for="bookStartDate" class="form-label">開始日</label>
					<p class="d-inline-block text-danger">必須</p>
					<input type="date" id="bookStartDate" class="form-control" th:field="*{startDate}" required>
				</div>
				<div class="col">
					<p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="text-danger">Date Error</p>
					<label for="bookEndDate" class="form-label">終了日</label>
					<p class="d-inline-block text-danger">必須</p>
					<input type="date" id="bookEndDate" class="form-control" th:field="*{endDate}" required>
				</div>
			</div>
			<div class="mb-4">
				<label for="bookImage" class="form-label">画像を変更する</label>
				<input type="file" id="bookImage" class="form-control" accept="image/*" th:field="*{imgFile}">
				<div id="fileHelp" class="form-text">サイズは10MBまでです、画像を登録すると読み込みが遅くなります</div>
			</div>
			<div class="input-group mb-4">
				<span class="input-group-text">メモ</span>
				<textarea class="form-control" aria-label="comment" placeholder="ご自由にお書きください" th:field="*{comment}"></textarea>
			</div>
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="bookSwitch" name="isFinished" value="yes" checked>
				<label class="form-check-label" for="bookSwitch">読了</label>
			</div></div>
			<div>
				<input type="submit" class="btn btn-primary" value="更新">
				<a class="btn btn-secondary ms-3" th:href="@{/user/finished-book-detail(id=${finishedEditBookInput.bookId})}" role="button">戻る</a>
			</div>
		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>