<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<title>読書リスト</title>
	<style>
		@media (max-width: 575px) {
			.card-img-top {
				height: 20rem !important;
			}
		}
    </style>
</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-expand-lg bg-info mb-5" th:fragment="header" style="--bs-navbar-color: rgba(255, 255, 255, 0.55);
	    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
	    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
	    --bs-navbar-active-color: #fff;
	    --bs-navbar-brand-color: #fff;
	    --bs-navbar-brand-hover-color: #fff;
	    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);">
		<div class="container-fluid">
			<a class="navbar-brand" href="/user/home">
				<i class="bi bi-book d-inline-block align-text-top" alt="Logo"></i>
				My Library
			</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon" style="background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 30 30\'%3e%3cpath stroke=\'rgba%28255, 255, 255, 0.55%29\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' stroke-width=\'2\' d=\'M4 7h22M4 15h22M4 23h22\'/%3e%3c/svg%3e');"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/user/home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/user/finished-booklist">本棚</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">書籍一覧</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/user/home">読書中</a></li>
							<li><a class="dropdown-item" href="/user/finished-booklist">読了済み</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/user/update/display-registerform">登録</a>
        			</li>
				</ul>
				<!-- profile icon -->
				<div class="ms-auto me-2">
					<div class="drop-down position-relative" style="color: white;">
						<div class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="text-light fs-2 position-relative bi bi-person-circle" id="profile" style="opacity: 0.9;">
								<span class="position-absolute translate-middle border border-info rounded-circle hover" style="background-color: rgb(6, 255, 58); top: 25%; left: 72%; padding: 0.4rem;">
									<span class="visually-hidden">User Profile</span>
								</span>
						  	</i>
					  	</div>
					  	<ul class="dropdown-menu text-center" id="custom-dropdown" th:object="${userProfile}">
							<li class="dropdown-item"><u>ユーザー名</u><p class="fs-5" th:text="*{username}"></p></li>
						 	<li class="dropdown-item"><u>読書中の本</u><p><span class="fs-5" th:text="*{readingNumber}"></span><span>冊</span></p></li>
						 	<li class="dropdown-item"><u>今まで読んだ本</u><div><span class="fs-5" th:text="*{finishedNumber}"></span><span>冊</span></div></li>
						 	<li><hr class="dropdown-divider"></li>
						 	<li><form th:action="@{/logout}" method="post"><button type="submit" class="btn btn-secondary">ログアウト</button></form></li>
					 	</ul>
					 	<script type="text/javascript">
						 	// hover effect
						 	const point = document.getElementById("profile");
						 	point.addEventListener("mouseover", () => {
								 point.style.opacity = 1;
						 	});
						 	point.addEventListener("mouseleave", () => {
								 point.style.opacity = 0.9;
						 	});
						 	// ドロップダウン位置調整
						 	const dropdownMenu = document.getElementById("custom-dropdown");
						 	const mediaQuery = window.matchMedia("(min-width: 768px)");
						 	function adjustDropdownMenuPosition() {
								 if (mediaQuery.matches) {
									 dropdownMenu.style.left = "-200%";
								} else {
									dropdownMenu.style.left = "auto";
							 	}
						  	}
						 	window.addEventListener("resize", adjustDropdownMenuPosition);
						 	adjustDropdownMenuPosition();
					 	</script>
				 	</div>
			 	</div>
		    </div>
	    </div>
		<!-- search box -->
		<div id="search-box" class="position-absolute" style="right: 50%; transform: translateX(50%);" data-bs-toggle="modal" data-bs-target="#searchModal">
			<input class="form-control" type="search" placeholder="検索" aria-label="Search">
			<span class="position-absolute top-50 translate-middle" style="right: 0%;"><i class="bi bi-search text-secondary"></i></span>
		</div>
		<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="searchModalLabel">読書リスト検索</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="search-form" th:action="@{/user/search-reading-booklist}" method="post">
							<div id="inputHelp" class="text-danger text-center">最低1項目の入力が必要です</div>
	         				<div class="mb-3">
					            <label for="book-title" class="col-form-label">タイトル</label>
					            <input type="text" class="form-control" id="book-title" th:field="${searchInput.title}">
				         	</div>
				         	<div class="mb-3">
					            <select class="form-select" aria-label="Book genre select" th:field="${searchInput.genre}">
									<option selected value="">本のジャンルを選んでください</option>
									<option value="小説">小説</option>
									<option value="ノンフィクション">ノンフィクション</option>
									<option value="ミステリー">ミステリー</option>
									<option value="サスペンス">サスペンス</option>
									<option value="SF">SF</option>
									<option value="ファンタジー">ファンタジー</option>
									<option value="ロマンス">ロマンス</option>
									<option value="歴史">歴史</option>
									<option value="自己啓発">自己啓発</option>
									<option value="お金">お金</option>			
									<option value="学習">学習</option>
									<option value="コミック">コミック</option>
									<option value="その他">その他</option>
								</select>
	         				</div>
	         				<div class="mb-3">
					            <label for="book-author" class="col-form-label">著者</label>
					            <input type="text" class="form-control" id="book-author" th:field="${searchInput.author}">
	         				</div>
	         				<div class="mb-3">
					            <label for="rough-start-date" class="col-form-label">開始日</label>
					            <input type="month" class="form-control" id="rough-start-date" th:field="${searchInput.roughStartDate}">
	         				</div>
	         				<div class="mb-3">
					            <label for="specific-start-date" class="col-form-label">詳細日程</label>
					            <input type="date" class="form-control" id="specific-start-date" th:field="${searchInput.specificStartDate}">
	         				</div>
	         				 <span id="dateHelp" class="form-text">指定した日付以降に登録した本を表示します</span>
	         			</form>
      				</div>
     				<div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
				        <button type="submit" form="search-form" class="btn btn-primary">検索</button>
      				</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- end navbar -->
	<div class="container">
		<!-- sort area -->
		<div class="row mb-3">
			<div class="col-auto">
				 <form id="sort-form"><select class="sort form-select" name="order" aria-label="Order">
			     	<option value="asc" th:selected="${order == 'asc'}">昇順</option>
			        <option value="desc" th:selected="${order == 'desc'}">降順</option>
			     </select>
	    	</div>
	    	<div class="col-auto">
				<select class="sort form-select" name="sort" aria-label="Sort by">
        			<option value="date" th:selected="${sort == 'date'}">日付</option>
        			<option value="title" th:selected="${sort == 'title'}">タイトル</option>
      			</select></form>
	    	</div>
    		<div id="genre-button" class="col-auto" style="position: absolute; right: 0%;">
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#genre-tags" aria-expanded="true" aria-controls="genre-tags">
					<i class="bi bi-caret-down-fill"></i>
				</button>
			</div>
		</div>
		<script type="text/javascript">
	        const selects = document.querySelectorAll(".sort");
	        selects.forEach((select) => {
				select.addEventListener("change", () => {
					document.getElementById("sort-form").submit();
				});
			});
	</script>
		<!-- end sort area -->
		<div class="row">
			<!-- book -->
			<div id="book-area" class="col-9 col-sm-10">
				<div th:if="${#lists.isEmpty(bookList)}">
					<h2><span th:text="${userProfile.username}"></span>さんが読書中の本はありません</h2>
				</div>
				<div id="card-area" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g-4">
		            <div th:each="book,iterStat : ${bookList}" th:object="${book}" class="col">
						<div class="card h-100">
			                <img th:src="*{imgFile}" class="card-img-top" style="height: 12rem;">
							<div th:id="'deletemodal-' + ${iterStat.index}" class="modal" tabindex="-1">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">本の削除</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
				        					<p>削除してもよろしいですか？</p>
				        				</div>
				        				<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
											<a class="btn btn-danger" th:href="@{'/user/update/execute-delete/' + *{bookId}}" role="button">削除</a>
										</div>
									</div>
								</div>
							</div> 
							<button type="button" class="btn-close position-absolute top-0 end-0" data-bs-toggle="modal" data-bs-target="#deletemodal" th:attr="data-bs-target='#deletemodal-' + ${iterStat.index}" aria-label="Close"></button>
			                <div class="card-body">
								<h5 class="card-title" th:text="*{title}"></h5>
								<a th:href="@{'/user/book-detail/' + *{bookId}}" style="text-decoration: none;">詳細</a>
			                </div>
			                <div class="card-footer">
								<small class="text-body-secondary">From </small><small class="text-body-secondary" th:text="*{#temporals.format(startDate, 'yyyy/MM/dd')}"></small>
			                </div>
		              	</div>
		            </div>
				</div>
			</div>
			<!-- genre tag -->
			<div id="genre-tags" class="collapse show col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-0" aria-label="tag-area" style="position: absolute; right: 0%;">
				<div class="d-flex flex-column border">
					<!-- all -->
					<button type="button" value="すべて" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>すべて</span>
						</div>
					</button>
					<!-- novel -->
					<button type="button" value="小説" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>小説</span>
						</div>
					</button>
					<!-- nonfiction -->
					<button type="button" value="ノンフィクション" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>ノンフィクション</span>
						</div>
					</button>
					<!-- mystery -->
					<button type="button" value="ミステリー" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>ミステリー</span>
						</div>
					</button>
					<!-- suspense -->
					<button type="button" value="サスペンス" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>サスペンス</span>
						</div>
					</button>
					<!-- sf -->
					<button type="button" value="SF" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>SF</span>
						</div>
					</button>
					<!-- fantagy -->
					<button type="button" value="ファンタジー" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>ファンタジー</span>
						</div>
					</button>
					<!-- romance -->
					<button type="button" value="ロマンス" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>ロマンス</span>
						</div>
					</button>
					<!-- history -->
					<button type="button" value="歴史" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>歴史</span>
						</div>
					</button>
					<!-- self development -->
					<button type="button" value="自己啓発" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>自己啓発</span>
						</div>
					</button>
					<!-- money -->
					<button type="button" value="お金" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>お金</span>
						</div>
					</button>
					<!-- study -->
					<button type="button" value="学習" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>学習</span>
						</div>
					</button>
					<!-- comic -->
					<button type="button" value="コミック" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>コミック</span>
						</div>
					</button>
					<!-- others -->
					<button type="button" value="その他" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
						<div class="d-flex justify-content-start">
							<i class="bi bi-bookmark"></i><span>その他</span>
						</div>
					</button>
				</div>
			</div>
			<script type="text/javascript">
				// genreタグ遷移
				document.querySelectorAll(".tag-button").forEach(button => {
					button.addEventListener("click", function() {
						const sortForm = document.getElementById("sort-form")
						const genre = this.value;
						if (genre === "すべて") {
							sortForm.action = "/user/home";
						} else {
							sortForm.action = "/user/home/" + genre;
						}
						sortForm.submit();
					});
				});
				
				// genreタグの開閉
				const genreButton = document.getElementById("genre-button");
				const bookArea = document.getElementById("book-area")
				const cardArea = document.getElementById("card-area")
				const genreTags = document.getElementById("genre-tags");
				function getClickCount() {
					const cookieValue = document.cookie.split('=')[1];
					return cookieValue ? parseInt(cookieValue) : 0;
				}
				let clickCount =　getClickCount();
				if (clickCount % 2 === 1) {
					genreTags.classList.remove(...genreTags.classList);
					genreTags.className += "collapse";
					bookArea.classList.remove(...bookArea.classList);
					bookArea.classList.add("col-12")
					cardArea.classList.remove(...cardArea.classList);
					cardArea.className += "row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4";
				} else {
					bookArea.classList.remove(...bookArea.classList);
					bookArea.className += "col-9 col-sm-10";
					cardArea.classList.remove(...cardArea.classList);
					cardArea.className += "row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g-4";
					genreTags.classList.remove(...genreTags.classList);
					genreTags.className += "collapse show col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-0";
				}
				console.log(clickCount);
				genreButton.addEventListener("click", function() {
					clickCount ++;
					document.cookie = `clickCount=${clickCount}`;
					if (clickCount % 2 === 1) {
						genreTags.classList.remove(...genreTags.classList);
						genreTags.className += "collapse";
						bookArea.classList.remove(...bookArea.classList);
						bookArea.classList.add("col-12")
						cardArea.classList.remove(...cardArea.classList);
						cardArea.className += "row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4";
					} else {
						bookArea.classList.remove(...bookArea.classList);
						bookArea.className += "col-9 col-sm-10";
						cardArea.classList.remove(...cardArea.classList);
						cardArea.className += "row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g-4";
						genreTags.classList.remove(...genreTags.classList);
						genreTags.className += "collapse show col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-0";
					}
				});
			</script>
			<!-- end genre tag -->
		</div>
		<a id="register-button" class="icon-link icon-link-hover mt-4" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" data-bs-toggle="modal" data-bs-target="#registerModal">
			<i class="fs-5 bi bi-plus-square"></i>
		</a>
		<!-- registerModal -->
		<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="registerModalLabel">本を登録する</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="register-form" class="needs-validation" th:action="@{/user/update/execute-register}" method="post" enctype="multipart/form-data" th:object="${bookInput}">
							<div class="mb-4">
								<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">Title Error</div>
								<label for="book-title" class="form-label">タイトル</label>
								<span class="text-danger">必須</span>
								<input type="text" id="book-title" class="form-control" th:field="*{title}" required>
							</div>
							<div class="mb-4">
								<select class="form-select" aria-label="Book genre select" th:field="*{genre}">
									<option selected value="">本のジャンルを選んでください</option>
									<option value="小説">小説</option>
									<option value="ノンフィクション">ノンフィクション</option>
									<option value="ミステリー">ミステリー</option>
									<option value="サスペンス">サスペンス</option>
									<option value="SF">SF</option>
									<option value="ファンタジー">ファンタジー</option>
									<option value="ロマンス">ロマンス</option>
									<option value="歴史">歴史</option>
									<option value="自己啓発">自己啓発</option>
									<option value="お金">お金</option>			
									<option value="学習">学習</option>
									<option value="コミック">コミック</option>
									<option value="その他">その他</option>
								</select>
							</div>
							<div class="mb-4">
								<label for="author" class="form-label">著者</label>
								<input type="text" id="author" class="form-control" th:field="*{author}">
							</div>
							<div class="mb-4">
								<div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-danger">Date Error</div>
								<label for="start-date" class="form-label">開始日</label>
								<span class="text-danger">必須</p>
								<input type="date" id="start-date" class="form-control" th:field="*{startDate}" required>
							</div>
							<div class="mb-4">
								<label for="book-image" class="form-label">本の画像</label>
								<input type="file" id="book-image" class="form-control" accept="image/*" th:field="*{imgFile}">
								<div id="fileHelp" class="form-text">サイズは10MBまでです、画像を登録すると読み込みが遅くなります</div>
							</div>
							<div class="input-group">
								<span class="input-group-text">メモ</span>
								<textarea class="form-control" aria-label="comment" placeholder="ご自由にお書きください" th:field="*{comment}"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
				        <button type="submit" form="register-form" class="btn btn-primary">登録</button>
      				</div>
				</div>
			</div>
		</div>
		<!-- end registerModal -->
	</div>
	<!-- Bootstrap js -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
	<!-- when ocuured search error -->
	<div th:if="${searchError} != null">
		<script type="text/javascript">
			// modalを開いた状態をデフォルトに
	        const searchBox = document.getElementById("search-box");
	        searchBox.click();
		</script>
	</div>
</body>
</html>