<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>パスワードリセットリンク</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
	<nav class="navbar bg-info">
		<div class="container-fluid">
			<a class="navbar-brand text-light" href="">
				<i class="bi bi-book d-inline-block align-text-top" alt="Logo"></i>
				My Library
			</a>
		</div>
	</nav>
	<div class="container">
		<div class="position-absolute start-50 translate-middle" aria-label="login-area" style="top: 58%;">
			<!-- 初期画面 -->
			<div class="border border-secondary-subtle rounded p-3" style="height: 27rem; width: 25rem;" th:if="${successMessage} == null">
				<form th:action="@{/send-password-reset-link}" method="post" class="p-2 needs-validation h-100 d-flex flex-column justify-content-between" th:object="${emailInput}">
					<div class="text-center">
						<h2>パスワードリセット</h2>
					</div>
					<div class="form-text">
						アカウントと連携したメールアドレスにパスワードリセットリンクを送信します。
						設定した合言葉は忘れないようメモしてください。
					</div>
					<!-- email -->
					<div>
						<div th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="text-danger">Email Error</div>
						<label for="email" class="form-label">連携済みメールアドレス</label>
						<input type="email" class="form-control" id="email" placeholder="name@example.com" th:field="*{userEmail}" required>
					</div>
					<!-- 合言葉 -->
					<div>
						<div th:if="${#fields.hasErrors('secretWord')}" th:errors="*{secretWord}" class="text-danger">Word Error</div>
						<label for="secret-word" class="form-label">リセット用の合言葉</label>
						<input type="text" class="form-control" id="secret-word" placeholder="8-20文字" th:field="*{secretWord}" required>
					</div>
					<button class="btn btn-primary" type="submit">リセットリンクを送信する</button>
				</form>
			</div>
			<!-- 送信後 -->
			<div class="border border-secondary-subtle rounded p-3" style="height: 22rem; width: 25rem;" th:if="${successMessage} != null">
				<form th:action="@{/send-password-reset-link}" method="post" class="p-2 needs-validation h-100 d-flex flex-column justify-content-between">
					<div class="text-center">
						<h2>リンク送信完了</h2>
					</div>
					<div class="form-text">
						アカウントと連携したメールアドレスにパスワードリセットリンクが送信されました。<strong>有効時間は3分です。</strong><br>
						もし届かない場合は、お手数ですが再度送信ボタンを押してください。
					</div>
					<div th:object="${emailInput}">
						<div th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="text-danger">Email Error</div>
						<label for="email" class="form-label">連携済みメールアドレス</label>
						<input type="email" class="form-control" id="email" th:field="*{userEmail}" required>
					</div>
					<button class="btn btn-primary" type="submit">リセットリンクを送信する</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>