<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>本棚</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<style>
		@media (max-width: 575px) {
			.card-img-top {
				height: 20rem !important;
			}
		}
    </style>
</head>
<body>
	<div th:fragment="header">
		<div id="overlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999; display: none;"></div>
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg bg-info mb-5" style="position: relative; 
			--bs-navbar-color: rgba(255, 255, 255, 0.55);
		    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
		    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
		    --bs-navbar-active-color: #fff;
		    --bs-navbar-brand-color: #fff;
		    --bs-navbar-brand-hover-color: #fff;
		    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);">
			<div class="container-fluid">
				<a class="navbar-brand" href="/user/reading-books">
					<i class="bi bi-book d-inline-block align-text-top" alt="Logo"></i>
					My Library
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon" style="background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 30 30\'%3e%3cpath stroke=\'rgba%28255, 255, 255, 0.55%29\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' stroke-width=\'2\' d=\'M4 7h22M4 15h22M4 23h22\'/%3e%3c/svg%3e');"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/user/reading-books">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/user/finished-books">本棚</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">書籍一覧</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/user/reading-books">読書中</a></li>
								<li><a class="dropdown-item" href="/user/finished-books">読了済み</a></li>
							</ul>
						</li>
						<div th:if="${readingNumber < readingMaxSize}">
							<li class="nav-item">
								<a class="nav-link" href="/user/reading-books/register">登録</a>
		        			</li>
						</div>
					</ul>
				</div>
				<!-- profile icon -->
				<div class="ms-auto">
					 <a data-bs-toggle="collapse" href="#user-profile-collapse" role="button" aria-expanded="false" aria-controls="user-profile-collapase" style="text-decoration: none;">
						 <i class="fs-2 text-light position-relative bi bi-person-circle" id="profile" style="font-style: normal;">
							 <span class="position-absolute translate-middle badge rounded-pill" style="background-color: rgb(255, 19, 19); font-size: 10px; top: 23%; left: 80%;" th:if="${!userProfile.isEmailExists}">
								 1
								 <span class="visually-hidden">User Profile</span>
							 </span>
						 </i>
					 </a>
					 <script type="text/javascript">
						 // hover effect
						 const profile = document.getElementById("profile");
						 profile.addEventListener("mouseover", () => {
							 profile.style.opacity = 0.9;
						 });
						 profile.addEventListener("mouseleave", () => {
							 profile.style.opacity = 1.0;
						 });
				    </script>
			    </div>
			    <!-- user profile collapse -->
			    <div class="d-flex flex-row-reverse" style="position: absolute; z-index: 1000; top: 100%; right: 0%;">
					<div class="collapse" id="user-profile-collapse">
						<div class="card card-body text-center p-0" th:object="${userProfile}" style="--bs-card-border-color: #6c757d">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<div class="fw-bold">ユーザー名</div>
									<div class="fs-5" th:text="*{username}"></div>
								</li>
								<li class="list-group-item p-0">
									<!-- notification accordion -->
									<div class="accordion" id="notification-accordion" style="--bs-accordion-border-radius: ; --bs-accordion-inner-border-radius: ;">
										<div class="accordion-item" style="border: 0;">
											<div class="accordion-header" style="--bs-accordion-active-bg: #e9ecef; --bs-accordion-btn-focus-box-shadow: ; 
												--bs-accordion-btn-active-icon: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\' fill=\'%23212529\'%3e%3cpath fill-rule=\'evenodd\' d=\'M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z\'/%3e%3c/svg%3e');">
												<button id="notification" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#notification-collapse" aria-expanded="false" aria-controls="notification-collapse">
													お知らせ<span class="badge rounded-pill" style="background-color: rgb(255, 19, 19);" th:if="${!userProfile.isEmailExists}">1</span></a>
												</button>
				    						</div>
				    						<div id="notification-collapse" class="accordion-collapse collapse">
				      							<div class="accordion-body p-3" style="--bs-card-border-color: rgba(0, 0, 0, 0.175)">
						  							<div class="card text-start" th:if="${!userProfile.isEmailExists}">
														<div class="card-header">
															メールアドレス登録のお願い
														</div>
														<div class="p-3">
															パスワードリセット時に必要です、忘れる前に早めの登録をお願いします。<br>
															<a href="/user/settings">登録画面へ</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- end -->
									</div>
								</li>
								<script type="text/javascript">
									const overlay = document.getElementById("overlay");
									const notification = document.getElementById("notification");
									notification.addEventListener("click", () => {
										if (notification.classList.contains("collapsed")) {
											overlay.style.display = "none";
										} else {
											overlay.style.display = "block";
										}
									});
									overlay.addEventListener("click", () => {
										overlay.style.display = "none";
										const userCollapse = document.getElementById("user-profile-collapse");
										userCollapse.classList.remove("show");
										const notificationCollapse = document.getElementById("notification-collapse");
										notificationCollapse.classList.remove("show");
										notification.classList.add("collapsed");
									});											
								</script>
								<li class="list-group-item">
									<div class="fw-bold">読書中の本</div>
									<div><span class="fs-5" th:text="*{readingNumber}"></span>/<span th:text="${readingMaxSize}"></span>冊</div>
								</li>
								<li class="list-group-item">
									<div class="fw-bold">今まで読んだ本</div>
									<div><span class="fs-5" th:text="*{finishedNumber}"></span>/<span th:text="${finishedMaxSize}"></span>冊</div>
								</li>
								<li class="list-group-item">
									<a class="link-body-emphasis link-underline link-underline-opacity-0" href="/user/settings"><i class="bi bi-gear"></i>設定</a>
								</li>
								<li class="list-group-item">
									<form th:action="@{/logout}" method="post">
										<button type="submit" class="btn btn-secondary">ログアウト</button>
									</form>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end user profile collapse -->
		    </div>
		    <!-- search box -->
			<div id="search-box" class="position-absolute" style="right: 50%; transform: translateX(50%);" data-bs-toggle="modal" data-bs-target="#searchModal">
				<input class="form-control" type="search" placeholder="検索" aria-label="Search">
				<span class="position-absolute top-50 translate-middle" style="right: 0%;"><i class="bi bi-search text-secondary"></i></span>
			</div>
			<!-- search modal -->
			<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="searchModalLabel">本棚検索</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form id="search-form" th:action="@{/user/finished-books/search}" method="post">
								<div id="inputHelp" class="text-danger text-center">最低1項目の入力が必要です</div>
		         				<div class="mb-3">
						            <label for="book-title" class="col-form-label">タイトル</label>
						            <input type="text" class="form-control" id="book-title" th:field="${finishedSearchInput.title}">
					         	</div>
					         	<div class="mb-3">
						            <select class="form-select" aria-label="Book genre select" th:field="${finishedSearchInput.genre}">
										<option selected value="">本のジャンルを選んでください</option>
										<option value="小説">小説</option>
										<option value="ノンフィクション">ノンフィクション</option>
										<option value="ミステリー">ミステリー</option>
										<option value="サスペンス">サスペンス</option>
										<option value="SF">SF</option>
										<option value="ファンタジー">ファンタジー</option>
										<option value="ロマンス">ロマンス</option>
										<option value="歴史">歴史</option>
										<option value="自己啓発">自己啓発</option>
										<option value="お金">お金</option>			
										<option value="学習">学習</option>
										<option value="コミック">コミック</option>
										<option value="その他">その他</option>
									</select>
		         				</div>
		         				<div class="mb-3">
						            <label for="book-author" class="col-form-label">著者</label>
						            <input type="text" class="form-control" id="book-author" th:field="${finishedSearchInput.author}">
		         				</div>
		         				<div class="mb-3">
						            <label for="duration" class="col-form-label">期間</label>
						            <div id="duration" class="input-group">
										<input type="month" class="form-control"  th:field="${finishedSearchInput.roughStartDate}" aria-label="rough-start-date">
										<span class="input-group-text">〜</span>
						            	<input type="month" class="form-control" th:field="${finishedSearchInput.roughEndDate}" aria-label="rough-end-date" >
									</div>
		         				</div>
		         				<div class="mb-3">
						            <label for="specific-end-date" class="col-form-label">詳細日程</label>
						            <input type="date" class="form-control" id="specific-end-date" th:field="${finishedSearchInput.specificEndDate}">
		         				</div>
		         				 <span id="dateHelp" class="form-text">読み終えた日付で検索します</span>
		         			</form>
	      				</div>
	     				<div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
					        <button type="submit" form="search-form" class="btn btn-primary">検索</button>
	      				</div>
					</div>
				</div>
			</div>
			<!-- end search modal -->
		</nav>
		<!-- end navbar -->
	</div>
	<div class="container mb-3">
		<div th:fragment="book-area">
			<!-- リストが存在する場合 -->
			<div th:if="${not #lists.isEmpty(finishedBookList) and #strings.isEmpty(genre)}">
				<h2 class="mb-3">読了数：<span th:text="${userProfile.finishedNumber}"></span>/<span th:text="${finishedMaxSize}"></span>冊</h2>
			</div>
			<!-- リストが存在する場合かつ、ジャンル指定がある場合 -->
			<div th:if="${not #lists.isEmpty(finishedBookList) and not #strings.isEmpty(genre)}">
				<h2 class="mb-3">読了数：<span th:text="${#lists.size(finishedBookList)}"></span>/<span th:text="${userProfile.finishedNumber}"></span>冊</h2>
			</div>
			<!-- sort area -->
			<div class="row mb-3">
				<div class="col-auto">
					 <form id="sort-form"><select class="sort form-select" name="order" aria-label="Order">
				     	<option value="asc" th:selected="${order == 'asc'}">昇順</option>
				        <option value="desc" th:selected="${order == 'desc'}">降順</option>
				     </select>
		    	</div>
		    	<div class="col-auto">
					<select class="sort form-select" name="sort" aria-label="Sort by">
	        			<option value="date" th:selected="${sort == 'date'}">日付</option>
	        			<option value="title" th:selected="${sort == 'title'}">タイトル</option>
	      			</select></form>
		    	</div>
		    	<div class="col-auto" th:if="${userProfile.genreTagOpenStatus == false}">
					<select id="genre-select" class="form-select" name="genre" aria-label="Genre">
	        			<option value="すべて" th:selected="${genre == 'すべて'}">すべて</option>
	        			<option value="小説" th:selected="${genre == '小説'}">小説</option>
	        			<option value="ノンフィクション" th:selected="${genre == 'ノンフィクション'}">ノンフィクション</option>
	        			<option value="ミステリー" th:selected="${genre == 'ミステリー'}">ミステリー</option>
	        			<option value="サスペンス" th:selected="${genre == 'サスペンス'}">サスペンス</option>
	        			<option value="SF" th:selected="${genre == 'SF'}">SF</option>
	        			<option value="ファンタジー" th:selected="${genre == 'ファンタジー'}">ファンタジー</option>
	        			<option value="ロマンス" th:selected="${genre == 'ロマンス'}">ロマンス</option>
	        			<option value="歴史" th:selected="${genre == '歴史'}">歴史</option>
	        			<option value="自己啓発" th:selected="${genre == '自己啓発'}">自己啓発</option>
	        			<option value="お金" th:selected="${genre == 'お金'}">お金</option>
	        			<option value="学習" th:selected="${genre == '学習'}">学習</option>
	        			<option value="コミック" th:selected="${genre == 'コミック'}">コミック</option>
	        			<option value="その他" th:selected="${genre == 'その他'}">その他</option>
	      			</select>
	      			<script type="text/javascript">
						const sortForm = document.getElementById("sort-form");
						const genreSelects = document.querySelectorAll("#genre-select");
						genreSelects.forEach((genreSelect) => {
							genreSelect.addEventListener("change", function() {
								const genre = this.value;
								if (genre === "すべて") {
									sortForm.action = "/user/finished-books";
								} else {
									sortForm.action = "/user/finished-books/" + genre;
								}
								sortForm.submit();
							});
						});
					</script>
		    	</div>
				<script type="text/javascript">
			        const selects = document.querySelectorAll(".sort");
			        selects.forEach((select) => {
						select.addEventListener("change", () => {
							document.getElementById("sort-form").submit();
						});
					});
				</script>
			</div>
			<!-- book area -->
			<!-- ジャンルタグを出す場合 -->
			<div class="row" th:if="${userProfile.genreTagOpenStatus == true}">
				<!-- book -->
				<div id="book-area" class="col-9 col-sm-10">
					<div th:if="${#lists.isEmpty(finishedBookList)}">
						<h2><span th:text="${userProfile.username}"></span>さんが読み終えた本はまだありません</h2>
						<a class="btn btn-primary" href="/user/reading-books" role="button">読書リストへ</a>
					</div>
					<div id="card-area" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g-4">
			            <div th:each="book,iterStat : ${finishedBookList}" th:object="${book}" class="col">
							<div class="card h-100">
				                <img th:src="*{imgFile}" class="card-img-top" style="height: 12rem;">
								 <!-- delete modal -->
								<div class="modal" th:id="'deletemodal-' + ${iterStat.index}" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">本の削除</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
					        					<p>削除してもよろしいですか？</p>
					        				</div>
					        				<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
												<form th:action="@{'/user/finished-books/' + *{bookId} +'/delete'}" method="post">
														<button class="btn btn-danger" type="submit">削除</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!-- end delete modal -->
								<button type="button" class="btn-close position-absolute top-0 end-0" data-bs-toggle="modal" data-bs-target="#deletemodal" th:attr="data-bs-target='#deletemodal-' + ${iterStat.index}" aria-label="Close"></button>
				                <div class="card-body">
									<h5 class="card-title" th:text="*{title}"></h5>
									<a th:href="@{'/user/finished-books/' + *{bookId}}" style="text-decoration: none;">詳細</a>
				                </div>
				                <div class="card-footer">
									<small class="text-body-secondary" th:text="*{#temporals.format(startDate, 'yyyy/MM/dd')}"></small><small> 〜 </small><small class="text-body-secondary" th:text="*{#temporals.format(endDate, 'yyyy/MM/dd')}"></small>
				                </div>
			              	</div>
			            </div>
					</div>
				</div>
				<!-- genre tag -->
				<div id="genre-tags" class="collapse show col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-0" aria-label="tag-area" style="position: absolute; right: 0%;">
					<div class="d-flex flex-column border">
						<button type="button" value="すべて" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>すべて</span>
							</div>
						</button>
						<button type="button" value="小説" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>小説</span>
							</div>
						</button>
						<button type="button" value="ノンフィクション" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>ノンフィクション</span>
							</div>
						</button>
						<button type="button" value="ミステリー" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>ミステリー</span>
							</div>
						</button>
						<button type="button" value="サスペンス" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>サスペンス</span>
							</div>
						</button>
						<button type="button" value="SF" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>SF</span>
							</div>
						</button>
						<button type="button" value="ファンタジー" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>ファンタジー</span>
							</div>
						</button>
						<button type="button" value="ロマンス" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>ロマンス</span>
							</div>
						</button>
						<button type="button" value="歴史" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>歴史</span>
							</div>
						</button>
						<button type="button" value="自己啓発" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>自己啓発</span>
							</div>
						</button>
						<button type="button" value="お金" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>お金</span>
							</div>
						</button>
						<button type="button" value="学習" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>学習</span>
							</div>
						</button>
						<button type="button" value="コミック" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>コミック</span>
							</div>
						</button>
						<button type="button" value="その他" class="tag-button btn btn-primary p-1 m-2 bg-primary-subtle text-dark" style="--bs-btn-border-color: transparent;">
							<div class="d-flex justify-content-start">
								<i class="bi bi-tag"></i><span>その他</span>
							</div>
						</button>
					</div>
				</div>
				<script type="text/javascript">
					// sortFormの実行
					document.querySelectorAll(".tag-button").forEach(button => {
						button.addEventListener("click", function() {
							const sortForm = document.getElementById("sort-form")
							const genre = this.value;
							if (genre === "すべて") {
								sortForm.action = "/user/finished-books";
							} else {
								sortForm.action = "/user/finished-books/" + genre;
							}
							sortForm.submit();
						});
					});
				</script>
				<!-- end genre tag -->
			</div>
			<!-- ジャンルタグを出さない場合 -->
			<div id="book-area" th:if="${userProfile.genreTagOpenStatus == false}">
				<div th:if="${#lists.isEmpty(finishedBookList)}">
					<h2><span th:text="${userProfile.username}"></span>さんが読み終えた本はまだありません</h2>
					<a class="btn btn-primary" href="/user/home" role="button">読書リストへ</a>
				</div>
				<div id="card-area" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
		            <div th:each="book,iterStat : ${finishedBookList}" th:object="${book}" class="col">
						<div class="card h-100">
			                <img th:src="*{imgFile}" class="card-img-top" style="height: 12rem;">
			                <!-- delete modal -->
							<div class="modal" th:id="'deletemodal-' + ${iterStat.index}" tabindex="-1">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">本の削除</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
				        					<p>削除してもよろしいですか？</p>
				        				</div>
				        				<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
											<form th:action="@{'/user/finished-books/' + *{bookId} +'/delete'}" method="post">
													<button class="btn btn-danger" type="submit">削除</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- end delete modal -->
							<button type="button" class="btn-close position-absolute top-0 end-0" data-bs-toggle="modal" data-bs-target="#deletemodal" th:attr="data-bs-target='#deletemodal-' + ${iterStat.index}" aria-label="Close"></button>
			                <div class="card-body">
								<h5 class="card-title" th:text="*{title}"></h5>
								<a th:href="@{'/user/finished-books/' + *{bookId}}" style="text-decoration: none;">詳細</a>
			                </div>
			                <div class="card-footer">
								<small class="text-body-secondary" th:text="*{#temporals.format(startDate, 'yyyy/MM/dd')}"></small><small> 〜 </small><small class="text-body-secondary" th:text="*{#temporals.format(endDate, 'yyyy/MM/dd')}"></small>
			                </div>
		              	</div>
		            </div>
				</div>
			</div>
		</div>
		<!-- pagenation -->
		<div th:if="${totalPages > 1}">
			<nav aria-label="Page navigation" class="mt-5 d-flex justify-content-center">
				<ul class="pagination">
					<!-- 前へリンク -->
					<li th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
						<a class="page-link" th:href="${currentPage > 1} ? ('?page=' + (${currentPage} - 1) + '&order=' + ${order} + '&sort=' + ${sort}) : '#'" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<!-- ページ番号リンク -->
					<li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${i == currentPage} ? 'page-item active' : 'page-item'">
						<a th:href="@{'?page=' + ${i} + '&order=' + ${order} + '&sort=' + ${sort}}" class="page-link" th:text="${i}"></a>
					</li>
					<!-- 次へリンク -->
					<li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
						<a class="page-link" th:href="${currentPage < totalPages} ? ('?page=' + (${currentPage} + 1) + '&order=' + ${order} + '&sort=' + ${sort}) : '#'" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- Bootstrap js -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
	<!-- 検索エラー時 -->
	<div th:if="${searchError} != null">
		<script type="text/javascript">
			// モーダルをデフォルトで開く
	        const searchBox = document.getElementById("search-box");
	        searchBox.click();
		</script>
	</div>
</body>
</html>